@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0.1% 0;
  font-family: "Quicksand";
  color: #333;
}

.content {
  max-width: 2500px;
  margin: 25px auto;
  padding: 10px;
  background-color:lightgoldenrodyellow;
}

/* Navbar Styles */

.navbar {
  padding: 20px; /*    */
  display: block; /*  can go into the settings to look at different styles  */
  align-items: center;
  max-width: 3500px;
  margin: 0 auto;
  border-bottom: 3px solid #d11717; /*  creates a line underneath the title  */
  background-color: aquamarine;
}

.navbar a{
  font-size: xxx-large;
  margin-left: 590px;
  text-decoration: none;  /*   creates an underline  */
  color: #d11717;
}
.navbar a:hover {
  color: #fd3974;
}

.links a {
  font-size: larger;
  margin-left: 110px;
  text-decoration: none;
  padding: 6px;
  color: rgb(4, 62, 117);
}

.BodyHome p{
  margin-left: 15px;
  color: aquamarine;
} 

/* About me Styles */

.abootme h1{
  text-align: center;
}
.abootme h2{
  text-align: center;
}
.content image{
  text-align: center;
}

.infoo body{
  margin: 0 0 0 2rem ;
  text-align: left;
  display: inline;
  height: max-content;
  width: max-content;
  font-family:serif ;
  font-size: 20px;
}
.infoo h2{
  text-align: left;
}

.infoo a1{
  font-family:serif ;
  font-size: 20px;
  margin: 325px;
}
.infoo a2{
  font-family:serif ;
  font-size: 20px;
  margin: 530px;
}





/* Fun Styles */
.column {
  float: left;
  width: 50%;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}