@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0% 0;
  font-family: "Quicksand";
  color: #333;
}
/* NAV BAR STYLES */
.navbar{
  background-color:rgb(167, 197, 114);
  border-bottom: 5px solid #a72828;
  margin: 0;
  width: auto; 
  padding: 0;
  text-align: center;
}
.navbar h1{
  font-size: 250%;
  margin-left: 1%;
  color: #7c62f1;
  text-decoration: none;
}
.links a{
  font-size: 150%;
  color: rgb(4, 62, 117);
  text-decoration: none;
  margin-left: 0% ;
  padding: 3%;
}
.navbar a:hover { 
  color:white; /* when the mouse hovers over these links, it creates a colour */
}

/* ABOUT ME STYLES */
.abootme{
  background-color: wheat;
  text-align: center;
}
.abootme h1{
  text-align: center;
}
.abootme img{
  height: 15%;
  width: 35%;
}

.infoo body{
  margin: 1rem 5rem 0 5rem ;
  text-indent: 3%;
  font-family:serif; 
  font-size: x-large;
}
.infoo a1{
  margin: 1rem 5rem 0 5rem ;
  font-family:serif; 
  font-size: x-large;
}
.infoo a2{
  margin: 1rem 5rem 0 5rem ;
  font-family:serif; 
  font-size: x-large;
 
}

/* PROJECTS STYLES  */
.prorec{
  background-color: thistle;
  text-align: center;
}
.prorec h1{
  text-align: center;
  font-size: xx-large;
}
.prorec h3{
  font-size: x-large;
  text-decoration: white underline 20%;
}
.prorec body{
  margin: 1rem 5rem 0 5rem ;
  text-indent: 5%;
  font-family:serif; 
  font-size: x-large;
}
.prorec li{
  text-indent: 0%;
  text-align: left;
  font-family:serif; 
  font-size: x-large;
}
.prorec strong{
  font-size: x-large;
}

/* Fun Styles */
.funtime{
  background-color:rgba(127, 255, 212, 0.582);
  text-align: center;
}
.funtime img{
  height: 15%;
  width: 35%;
}
.funtime h2{
  text-align: center;
}
.funtime body{
  text-align: center;
  margin: 1rem 5rem 0 5rem ;
  font-family:serif; 
  font-size: x-large;
}
.row h3{
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* HOME STYLES */
.Home{
  background-color: rgba(245, 142, 105, 0.788);
  text-align: center;
}
.Home img{
  height: 10%;
  width: 25%;
}


.Home a1{
  text-align:center;
  font-family: 'Trebuchet MS';
  font-size: 200%
}
.BodyHome{
  text-align: center;
  margin: 1rem 5rem 0 5rem ;
  font-family: 'Trebuchet MS';
  font-size: x-large;
}
